<div class="container">
    <nav>
        <h1 class="brand"><a href="/">Br<span>a</span>nd</a></h1>
        <ul>
            <li><a href="/products">Products</a></li>
            <li><a href="/wishlist">Wishlist</a></li>
            <li><a href="/login">Admin Login</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
<hr>
</div>