<html>
<head>
    <link rel="stylesheet" href="contactus.css">
</head>
<body>
<div class="wrapper">
    <div class="title">
      <h1>Contact Us</h1>
    </div>
        <form class='input-fields' action='mailto:mehersatyadhiren@gmail.com' method="POST"  enctype="text/plain">
        <input type="text" name="Name" class="input" placeholder="Name">
        <input type="text" name="Email" class="input" placeholder="Email Address">
        <input type="text" name="Phone" class="input" placeholder="Phone">
        <input type="text" name="Query" class="input" placeholder="Query">
        <button type='button' value='Send' class="btn">send</button>
        </form>
  </div>

</body>
</html>


